body{
	margin:0px;}
.menu
{  clear:both;
   background-color:red;
   width: calc(100% - 10px);
   margin:5px;
}
.com
{
float:left;
height:30px;
margin:5px;
background-color:#B3F5F9;
}
.c1
{
width:calc(20% - 10px);
}
.c2
{
width:calc(80% - 10px);
}
.com1
{
width: calc(100% - 20px);
float:left;
margin:5px 10px;
background-color:#B3F5F9;
}
.c3
{height:30px;}
.c4
{
height:60px;
}
.f2
{ 
float:left;
width:50%;
}
.d
{
float:left;
height:60px;
background-color:#B3F5F9;
width:calc(50% - 10px);
margin:5px;
}
.d1
{
float:left;
margin:5px;
width:calc(50% - 10px);
background-color:#B3F5F9;
height:130px;
}
.d2
{
float:left;
height:60px;
background-color:#B3F5F9;
width:calc(25% - 10px);
margin:5px;
}

@media only screen and (max-width: 768px) 
{   .d1{width:calc(100% - 10px);}
	.f2{width:100%;}
	.d2{width:calc(50% - 10px);
	}
   }
@media only screen and (max-width: 480px) 
{ .d2,.d1,.f2{width:calc(100% - 10px);}
	.d{width:100%;}
   }
