.a1
{color:grey;
padding:0px 10px;}
.a1:hover
{color:white;
 text-decoration:none;
 background-color:grey;}

.cl
{background-color:#EAEDED;}
.p
{:10px;}
.o
{color:red;
}
.o:hover
{color:white;
 text-decoration:none;
 background-color:red;
}
.carousel-indicators {
    margin: -64px;
    margin-left: -30%; 
}
.carousel-indicators .active{
background-color:green;
   
}
.carousel-indicators li {
    border:1px solid black;
}

.navbar-right {
    float: right!important;
    margin-right: 140px;
}
.navbar-default .navbar-nav>li>a {
    color: black;
	font-size:17px;
}
.navbar-default .navbar-nav>li>a:hover {
    color: blue;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 110px;
	padding-top:10px;
}

.navbar {
    position: relative;
    min-height: 10px;
	margin-top:5px;
    margin-bottom: 3px;
    border: 1px solid transparent;
}
.b
{background-image: url("t1.jpg");
min-height:800px;
background-repeat:no-repeat;}
.r { margin-top:30px;
     font-size:24px ;
	 color:white;
    text-align:center;
    border: 2px ;
    padding:15px 20px; 
    background:#2990ea;
    width: 300px;
    border-radius: 45px;
}
.r:hover { transform:scale(1.05);
}
.m1
{ text-align:center;
  padding-bottom:80px;
  font-size: 36px;
}
.m2
{  text-align:center;
   padding:20px 0px;
   font-weight:bold;
    font-size:20px;
}
.g1
{  background-position:60px 20px;
   margin:80px 0px;
   height:143px;
   background-image:url("./img/5.png");
   background-repeat:no-repeat;
}
.m3
{  height:70px;
    padding:0px 30px;
    padding-bottom:20px;
    text-align:center;
}
.mm
{padding-bottom:30px;
text-align:center;
font-size: 36px;}
.m4
{ padding-top:150px;
}
.m5 {padding-top:120px;}
#space {background: #ffffff;padding: 25px 0 77px; }
#space1 {background: black;padding: 5px 0 77px; }
.data8 {text-align:center; width: 100%; }
.data9 {font-size: 36px;font-weight: 400;text-align: center;margin-bottom: 30px;line-height: 1.3em;}
.line {font-size: 17px;font-weight: 400;color: #6f7688;letter-spacing: .025em;text-align: center;margin-bottom: 70px;
}

.g
{
padding:100px 0px;}
.c1
{position:relative;
left:150px;
top:55px;
width:calc(100% - 150px);
height:360px;
}
@media only screen and (max-width: 1000px)  and (min-width:768px)
{ .c1{
position:relative;
left:10px;
top:35px;
width:calc(100% - 150px);
height:360px;}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
    padding-top: 10px;}
.navbar-right {
    float: right!important;
    margin-right: 0px;}
}
@media only screen and (max-width:768px)
{
.d {
    width: 50%;
    position: relative;
    top: 16px;
    left: 171px;
    height: 40px;
    font-size: 10px;
}
.c1{
position:relative;
left:10px;
top:35px;
width:calc(100% - 150px);
height:360px;}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
    padding-top: 10px;}	
.b>.c1>h1{font-size:33px;}
.b>.c1>img{height:300px; width:400px;}
.hid{display:block;}
.hid1{display:none;}
}
@media only screen and (max-width:480px)
{ .g1{background-position:20px 20px;}
.d {
    width: 50%;
    position: relative;
    top: 16px;
    left: 171px;
    height: 40px;
    font-weight: bold;
    font-size: 11px;
}
.d1{width:50%; left:170px;}
.c1{
position:relative;
left:10px;
top:35px;
width:calc(100% - 150px);
height:360px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
    padding-top: 10px;}	
.b>.c1>img{height:300px; width:300px;}
.b>.c1>h1{font-size:30px;}
}
.hid{display:none;}
.hid1{display:block;}
.d {
    width: 50%;
    position: relative;
    top: 16px;
    left: 220px;
    height: 40px;
    font-weight:bold;
    font-size:18px;
}
.d1
{
    width: 50%;
    position:relative;
    top: 13px;
    left: 220px;
    height: 100px;
  
}
.colo
{background-color:#F6F5C8;}
h1
{ 
font-size: 54px;
font-weight:500px;
margin-top:5px;
}
.ull{margin-top:24px;
padding:0px;}
.lii
{list-style:none;
display:inline;
padding-right:30px;}
.caro {margin:0;width:100%;}

.im
{height:132px;
width:170px;}
.f
{
padding:30px 0;
font-size:20px;
font-weight:600;
text-align:center;
color:#110233;
background-color:#e5a929;
vertical-align:middle;
}
.f>a
{font-size:36px;
color:#110233;}
.f:hover ,.f:hover>a{background-color:#110233;color:#e5a929;}
.a5{
color:grey;}
.a5:hover{text-decoration:none;
color:white;}
.bl
{background-color:black;}
.wh
{ 
 background-color:black;
 color:white;
}
.x{font:bold;}
.ul2 {
    
    list-style: none;
    text-align: left;
    padding: 0px;
}
.l22
{  
	font-size:11px;
}
.k{text-align:right;}
.j{text-align:left;
margin-bottom:0px;}
.a6{
width:200px;
padding:10px;
font-size:25px;
color:grey;}
.a6:hover{text-decoration:none;
color:white;}
.m11{padding-top:20px;}